@font-face {
  font-family: 'KozGoPro';
  src: url("../fonts/KozGoPro-Bold-AlphaNum.eot");
  src: url("../fonts/KozGoPro-Bold-AlphaNum.eot?#iefix") format("embedded-opentype"), url("../fonts/KozGoPro-Bold-AlphaNum.woff") format("woff"), url("../fonts/KozGoPro-Bold-AlphaNum.ttf") format("truetype"), url("../fonts/KozGoPro-Bold-AlphaNum.svg#KozGoPro") format("svg");
  font-weight: bold; }
@font-face {
  font-family: 'KozGoPro';
  src: url("../fonts/KozGoPro-Medium-AlphaNum.eot");
  src: url("../fonts/KozGoPro-Medium-AlphaNum.eot?#iefix") format("embedded-opentype"), url("../fonts/KozGoPro-Medium-AlphaNum.woff") format("woff"), url("../fonts/KozGoPro-Medium-AlphaNum.ttf") format("truetype"), url("../fonts/KozGoPro-Medium-AlphaNum.svg#KozGoPro") format("svg");
  font-weight: 500; }
@font-face {
  font-family: 'KozGoPro';
  src: url("../fonts/KozGoPro-Regular-AlphaNum.eot");
  src: url("../fonts/KozGoPro-Regular-AlphaNum.eot?#iefix") format("embedded-opentype"), url("../fonts/KozGoPro-Regular-AlphaNum.woff") format("woff"), url("../fonts/KozGoPro-Regular-AlphaNum.ttf") format("truetype"), url("../fonts/KozGoPro-Regular-AlphaNum.svg#KozGoPro") format("svg");
  font-weight: normal; }
body {
  font-family: 'KozGoPro', sans-serif;
  font-weight: normal; }

.container, header .container {
  width: 1150px;
  padding: 0; }

.inner {
  width: 1025px;
  margin: 0 auto;
  padding: 0; }

a {
  color: #fff; }

ul li {
  display: inline-block; }

a:active {
  color: #007dbf; }

header {
  background-color: #b2d8ec;
  height: 41px;
  margin-bottom: 10px; }
  header .container {
    background-color: #007dbf;
    height: inherit;
    text-align: center; }
    header .container .top-nav ul {
      padding-left: 0;
      font-weight: 500;
      font-size: 18px;
      margin: 0; }
      header .container .top-nav ul li {
        font-style: normal;
        float: left;
        text-decoration: none;
        margin: 10px 126px 10px 0; }
    header .container .congestion {
      font-weight: normal;
      font-size: 16px; }
    header .container .log-out {
      font-weight: bold;
      font-size: 16px;
      float: right;
      margin-right: 0;
      padding: 10px 37px 7px 37px;
      background-color: #b2d8ec;
      border-radius: 5px;
      text-decoration: underline; }

.top-wrap .block-step {
  margin-bottom: 10px;
  background-color: #b2d8ec; }
.top-wrap .list-group {
  height: 125px;
  font-weight: bold; }
  .top-wrap .list-group span {
    display: block;
    text-align: center;
    color: #007dbf; }
  .top-wrap .list-group .list-group-item {
    display: inline-block;
    position: relative;
    width: 219px;
    height: 83px;
    border: #007dbf solid 3px;
    vertical-align: top;
    margin: 21px 20px 0 10px;
    padding: 10px 0;
    font-size: 18px; }
    .top-wrap .list-group .list-group-item span {
      width: 254px;
      position: relative;
      z-index: 10; }
    .top-wrap .list-group .list-group-item:hover, .top-wrap .list-group .list-group-item.active {
      z-index: 2;
      background-color: #007dbf;
      border: 3px solid #007dbf; }
      .top-wrap .list-group .list-group-item:hover span, .top-wrap .list-group .list-group-item.active span {
        color: #fff; }
    .top-wrap .list-group .list-group-item:before, .top-wrap .list-group .list-group-item:after {
      width: 27px;
      height: 83px;
      display: block;
      content: " ";
      position: absolute;
      top: -3px;
      background: url("../images/sprite.png") no-repeat;
      z-index: 5; }
    .top-wrap .list-group .list-group-item:before {
      left: -27px;
      background-position: 0 -83px; }
    .top-wrap .list-group .list-group-item:after {
      right: -27px;
      background-position: -241px -83px; }
    .top-wrap .list-group .list-group-item.active:before, .top-wrap .list-group .list-group-item:hover:before {
      background-position: 0 0; }
    .top-wrap .list-group .list-group-item.active:after, .top-wrap .list-group .list-group-item:hover:after {
      background-position: -241px 0; }
    .top-wrap .list-group .list-group-item:first-child:before, .top-wrap .list-group .list-group-item:last-child:after {
      display: none; }
    .top-wrap .list-group .list-group-item:first-child {
      width: 242px;
      margin-left: 0;
      border-radius: 4px; }
    .top-wrap .list-group .list-group-item:last-child {
      width: 241px;
      margin-right: 0;
      border-radius: 4px; }

.block-wrap {
  margin-bottom: 28px; }
  .block-wrap .block-title {
    height: 50px;
    background: #007dbf; }
    .block-wrap .block-title h3 {
      font-size: 28px;
      font-weight: bold;
      color: #FFF;
      line-height: normal; }
  .block-wrap .block-content {
    background: #f2f2f2;
    border-bottom: 2px solid #007dbf; }
    .block-wrap .block-content .visitor-data {
      padding-left: 10px;
      width: 620px;
      margin: 28px 0; }
    .block-wrap .block-content span a {
      color: #007dbf;
      opacity: 0.7;
      text-decoration: none;
      font-size: 13px; }
    .block-wrap .block-content .method {
      border-bottom: 1px solid #cbcbcb;
      padding: 28px 0 28px 0; }
      .block-wrap .block-content .method.last {
        border-bottom: 0; }
      .block-wrap .block-content .method.area {
        border: none; }
        .block-wrap .block-content .method.area h4 {
          font-size: 16px;
          color: #555; }
      .block-wrap .block-content .method .method-title {
        font-size: 24px;
        font-weight: bold;
        position: relative;
        color: #333; }
        .block-wrap .block-content .method .method-title:before {
          height: 20px;
          width: 34px;
          display: block;
          content: " ";
          position: absolute;
          top: 50%;
          margin-top: -10px;
          background: url("../images/sprite.png") no-repeat;
          background-position: 0 -204px; }
        .block-wrap .block-content .method .method-title span {
          padding-left: 41px;
          color: #007dbf; }
      .block-wrap .block-content .method .method-content .btn {
        font-size: 14px;
        font-weight: normal;
        color: #555;
        width: 165px;
        height: 42px;
        background: #fff;
        border: 1px solid #cbcbcb;
        margin-right: 21px;
        border-radius: 1px;
        line-height: 30px; }
      .block-wrap .block-content .method .method-content .btn-2 {
        width: 90px;
        color: #aaa; }
      .block-wrap .block-content .method .method-content span {
        margin-right: 21px; }
      .block-wrap .block-content .method .method-content .add-time {
        width: 188px;
        height: 42px;
        color: #fff;
        background-color: #007dbf;
        font-size: 17px;
        font-weight: bold;
        line-height: 30px; }
      .block-wrap .block-content .method .method-content .table-responsive .table-bordered > tbody > tr > td {
        border: 0;
        padding: 0 0 0 41px;
        color: #555;
        vertical-align: middle; }
        .block-wrap .block-content .method .method-content .table-responsive .table-bordered > tbody > tr > td label {
          vertical-align: top;
          font-size: 16px;
          font-weight: 500;
          color: #007dbf;
          margin-bottom: 0; }
        .block-wrap .block-content .method .method-content .table-responsive .table-bordered > tbody > tr > td input {
          vertical-align: top;
          height: 16px;
          width: 16px;
          margin-top: 2px;
          opacity: 0; }
        .block-wrap .block-content .method .method-content .table-responsive .table-bordered > tbody > tr > td div {
          display: inline-block;
          margin-right: 85px; }
          .block-wrap .block-content .method .method-content .table-responsive .table-bordered > tbody > tr > td div label {
            font-size: 16px;
            color: #555; }
        .block-wrap .block-content .method .method-content .table-responsive .table-bordered > tbody > tr > td a {
          color: #007dbf;
          opacity: 0.7;
          text-decoration: none;
          font-size: 13px; }
      .block-wrap .block-content .method .method-content .table-responsive .table-custom {
        border: #b2d8ec solid 1px;
        margin: 0; }
        .block-wrap .block-content .method .method-content .table-responsive .table-custom tr {
          border: #b2d8ec solid 1px;
          height: 48px;
          background-color: #fff; }
          .block-wrap .block-content .method .method-content .table-responsive .table-custom tr .radio-wrap label {
            display: inline-block;
            position: relative;
            padding-left: 5px;
            font-size: 14px;
            font-weight: normal; }
            .block-wrap .block-content .method .method-content .table-responsive .table-custom tr .radio-wrap label:before {
              content: "";
              display: inline-block;
              position: absolute;
              width: 16px;
              height: 16px;
              left: 0;
              margin: 0 0 0 -20px;
              border: 1px solid #555555;
              background-color: #fff;
              border-radius: 10px;
              -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
              -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
              transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
            .block-wrap .block-content .method .method-content .table-responsive .table-custom tr .radio-wrap label:after {
              display: inline-block;
              position: absolute;
              width: 16px;
              height: 16px;
              left: 0;
              top: 0;
              margin-left: -20px; }
          .block-wrap .block-content .method .method-content .table-responsive .table-custom tr .radio-wrap input[type="checkbox"]:focus + label:before {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px; }
          .block-wrap .block-content .method .method-content .table-responsive .table-custom tr .radio-wrap input[type="checkbox"]:checked + label::after {
            background: url("../images/sprite.png") no-repeat -19px -287px;
            content: " "; }
          .block-wrap .block-content .method .method-content .table-responsive .table-custom tr .radio-wrap input[type="checkbox"]:disabled + label {
            opacity: 0.65; }
          .block-wrap .block-content .method .method-content .table-responsive .table-custom tr .radio-wrap input[type="checkbox"]:disabled + label::before {
            background-color: #eeeeee;
            cursor: not-allowed; }
          .block-wrap .block-content .method .method-content .table-responsive .table-custom tr.alt {
            background: #e1e1e1; }
          .block-wrap .block-content .method .method-content .table-responsive .table-custom tr.alt-1 span, .block-wrap .block-content .method .method-content .table-responsive .table-custom tr.alt-1 .collapse-header {
            font-size: 16px;
            font-weight: 500;
            color: #007dbf;
            opacity: 1; }
          .block-wrap .block-content .method .method-content .table-responsive .table-custom tr.alt-1 .collapse-header {
            position: relative;
            padding-left: 32px; }
            .block-wrap .block-content .method .method-content .table-responsive .table-custom tr.alt-1 .collapse-header:before {
              height: 24px;
              width: 24px;
              display: block;
              content: " ";
              position: absolute;
              top: 50%;
              margin-top: -12px;
              background: url("../images/sprite.png") no-repeat 0 -312px; }
            .block-wrap .block-content .method .method-content .table-responsive .table-custom tr.alt-1 .collapse-header.active:before {
              background: url("../images/sprite.png") no-repeat 0 -336px; }
        .block-wrap .block-content .method .method-content .table-responsive .table-custom .collapse-content .inner-table {
          display: block;
          width: 100%;
          margin: 0;
          padding: 0; }
          .block-wrap .block-content .method .method-content .table-responsive .table-custom .collapse-content .inner-table div {
            margin-right: 0; }
          .block-wrap .block-content .method .method-content .table-responsive .table-custom .collapse-content .inner-table div.area-col {
            width: 120px;
            display: block;
            float: left;
            margin: 0px 15px 0 0;
            padding-left: 23px; }
            .block-wrap .block-content .method .method-content .table-responsive .table-custom .collapse-content .inner-table div.area-col ul {
              padding: 0; }
              .block-wrap .block-content .method .method-content .table-responsive .table-custom .collapse-content .inner-table div.area-col ul li {
                display: block;
                margin-top: 15px; }
                .block-wrap .block-content .method .method-content .table-responsive .table-custom .collapse-content .inner-table div.area-col ul li.checkbox-wrap {
                  position: relative; }
                  .block-wrap .block-content .method .method-content .table-responsive .table-custom .collapse-content .inner-table div.area-col ul li.checkbox-wrap label:before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    margin: 2px 0 0 -20px;
                    border: 1px solid #555555;
                    background-color: #fff; }
                  .block-wrap .block-content .method .method-content .table-responsive .table-custom .collapse-content .inner-table div.area-col ul li.checkbox-wrap label:after {
                    display: inline-block;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    left: 0;
                    top: 0;
                    margin-top: 2px; }
                  .block-wrap .block-content .method .method-content .table-responsive .table-custom .collapse-content .inner-table div.area-col ul li.checkbox-wrap input[type="checkbox"]:focus + label:before {
                    outline: thin dotted;
                    outline: 5px auto -webkit-focus-ring-color;
                    outline-offset: -2px; }
                  .block-wrap .block-content .method .method-content .table-responsive .table-custom .collapse-content .inner-table div.area-col ul li.checkbox-wrap input[type="checkbox"]:checked + label::after {
                    background: url("../images/sprite.png") no-repeat 2px -288px;
                    content: " "; }
                  .block-wrap .block-content .method .method-content .table-responsive .table-custom .collapse-content .inner-table div.area-col ul li.checkbox-wrap input[type="checkbox"]:disabled + label {
                    opacity: 0.65; }
                  .block-wrap .block-content .method .method-content .table-responsive .table-custom .collapse-content .inner-table div.area-col ul li.checkbox-wrap input[type="checkbox"]:disabled + label::before {
                    background-color: #eeeeee;
                    cursor: not-allowed; }
      .block-wrap .block-content .method .rule {
        text-align: center; }
        .block-wrap .block-content .method .rule .btn {
          font-size: 17px;
          font-weight: bold;
          color: #007dbf;
          width: 323px;
          height: 60px;
          background: #fff;
          border: 3px solid #bbb;
          margin-right: 24px;
          padding-top: 14px; }
          .block-wrap .block-content .method .rule .btn:last-child {
            margin-right: 0; }
          .block-wrap .block-content .method .rule .btn.active, .block-wrap .block-content .method .rule .btn:active {
            background-color: #007dbf;
            color: #fff;
            border: #007dbf;
            box-shadow: none; }
          .block-wrap .block-content .method .rule .btn:hover {
            background: #e1e1e1;
            border: 3px solid #bbb;
            color: #007dbf; }
  .block-wrap .nav-tabs {
    border-bottom: 1px solid #007dbf; }
    .block-wrap .nav-tabs li {
      text-align: center;
      color: #007dbf;
      font-size: 17px;
      font-weight: bold;
      height: 50px;
      width: 238px;
      background: #fff;
      border: 1px solid #007dbf;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      margin-right: 13px;
      padding-top: 13px; }
      .block-wrap .nav-tabs li:first-child {
        margin-left: 17px; }
      .block-wrap .nav-tabs li:last-child {
        margin-right: 17px; }
      .block-wrap .nav-tabs li.active, .block-wrap .nav-tabs li:active {
        background-color: #007dbf;
        color: #fff;
        border: #007dbf; }
      .block-wrap .nav-tabs li:hover {
        background: #e1e1e1;
        border: 1px solid #007dbf;
        color: #007dbf; }
  .block-wrap .tab-content {
    border: 1px solid #007dbf;
    padding: 13px 0 20px 0;
    background-color: #fff; }
    .block-wrap .tab-content .area-col {
      width: 138px;
      float: left;
      margin-right: 4px; }
      .block-wrap .tab-content .area-col:first-child {
        margin-left: 17px; }
      .block-wrap .tab-content .area-col ul {
        padding-left: 0; }
        .block-wrap .tab-content .area-col ul li {
          margin-top: 10px;
          height: 28px; }
      .block-wrap .tab-content .area-col .btn-a {
        display: block;
        width: 139px;
        height: 42px;
        text-align: center;
        background: #e1e1e1;
        color: #555;
        border: 1px solid #a1a1a1;
        line-height: 42px;
        overflow: hidden;
        font-size: 16px; }
        .block-wrap .tab-content .area-col .btn-a.active, .block-wrap .tab-content .area-col .btn-a:active {
          color: #fff;
          background-color: #007dbf;
          border-color: #007dbf;
          text-decoration: none; }
        .block-wrap .tab-content .area-col .btn-a:hover {
          background-color: #bbb;
          border-color: #959595;
          text-decoration: none; }
      .block-wrap .tab-content .area-col .checkbox-wrap {
        padding-left: 20px;
        display: block; }
        .block-wrap .tab-content .area-col .checkbox-wrap label {
          display: inline-block;
          position: relative;
          padding-left: 5px;
          font-size: 14px;
          font-weight: normal; }
          .block-wrap .tab-content .area-col .checkbox-wrap label:before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            margin-left: -20px;
            border: 1px solid #555555;
            background-color: #fff;
            -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
          .block-wrap .tab-content .area-col .checkbox-wrap label:after {
            display: inline-block;
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            top: 0;
            margin-left: -20px;
            padding-left: 3px;
            padding-top: 1px;
            font-size: 11px;
            color: #555555; }
        .block-wrap .tab-content .area-col .checkbox-wrap input[type="checkbox"]:focus + label:before {
          outline: thin dotted;
          outline: 5px auto -webkit-focus-ring-color;
          outline-offset: -2px; }
        .block-wrap .tab-content .area-col .checkbox-wrap input[type="checkbox"]:checked + label::after {
          background: url("../images/sprite.png") no-repeat 2px -288px;
          content: " "; }
        .block-wrap .tab-content .area-col .checkbox-wrap input[type="checkbox"]:disabled + label {
          opacity: 0.65; }
        .block-wrap .tab-content .area-col .checkbox-wrap input[type="checkbox"]:disabled + label::before {
          background-color: #eeeeee;
          cursor: not-allowed; }

.block-wrap-select select {
  height: 42px;
  border: none;
  display: inline-block;
  background: url("../images/select-bg.png") no-repeat top right;
  -webkit-appearance: none;
  -moz-appearance: none; }

.output {
  background-color: #fff; }
  .output .output-title {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #007dbf; }
  .output .output-table {
    margin: 13px 0 37px 0;
    border-bottom: 2px solid #007dbf; }
    .output .output-table tr {
      height: 48px; }
    .output .output-table .table-bordered thead > tr > th {
      background-color: #e1e1e1;
      font-size: 16px;
      color: #007dbf;
      font-weight: 500; }
    .output .output-table .table-bordered thead > tr > th, .output .output-table .table-bordered tbody > tr > td {
      border: 1px solid #cbcbcb; }

.next-tab {
  height: 82px;
  background-color: #fff;
  vertical-align: middle;
  text-align: center; }
  .next-tab .btn-normal {
    height: 54px;
    width: 272px;
    border-radius: 5px;
    background-color: #007dbf;
    color: #fff;
    font-size: 24px;
    font-weight: bold; }

footer {
  height: 9px;
  background-color: #b2d8ec; }
  footer .inner {
    background-color: #007dbf;
    height: 9px; }

/*# sourceMappingURL=main.css.map */
